# Virtual Environment
venv/
.env

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Model Weights
models/license_plate/*.pt

# Output Files
data/output/

# YOLO Runs
runs/

# OS Files
.DS_Store
Thumbs.db